.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Etusivu{
  padding: 1rem;
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.ui_saana
.Raporttihistoria-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(90, 134, 255);
  height: 80px;
  padding: 1rem;
  text-align: center;
  font-size: x-large;
  color: #fff;
}

.Raportti-sorting{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: fit-content;
  padding: 1rem;
}

.Raporttikortti{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 50px;
  margin-bottom: 0.2em;
  border-bottom: 2px solid grey;
  background-color: white;
}

.Raporttikortti:active{

  background-color: #e8e8e8;
}

.errorButton{
  border-style: none;
  border-radius: 6%;
  background-color: #cc0000;
  color: #ececec;
  padding: 0.4rem;
  width: 55px;
}

button{
  width: 100px;
}

input{
  width: 80%;
  padding: 0.5rem;
  margin-left: 1rem;
}

.button {
  font-size: 100px;
}

.Tarkastuskohdat {

  .button {
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
  }
  
  .button-label {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
  }
  
  .subText {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .text {
    font-weight: bold;
    font-size: 24px;
  }
}

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
